.controls {
  margin-bottom: 20px;
  flex-direction: column;

  @media (width >= 700px) {
    flex-direction: row;
  }
}

.controls__item {
  flex-direction: column;

  @media (width >= 400px) {
    flex-direction: initial;
  }
}

.controls__item--large {
  flex: 1;
}
