.card {
  background-color: var(--color-darker);
  border: 2px solid var(--color-border);
  border-radius: 8px;
  overflow: auto;
  min-height: 320px;
  position: relative;
}

.card__body {
  padding: 16px;
}

.card__image {
  width: 100%;
  height: auto;
  background-color: var(--color-darker);
}

.card__title {
  font-size: 1.3rem;
}

.card--floating {
  margin-top: 90px;
  padding-top: 40%;
  overflow: visible;
  min-height: 200px;

  .card__title {
    text-align: center;
  }

  .card__image {
    width: 70%;
    max-width: 200px;
    position: absolute;
    border: 2px solid #3a3f5c;
    border-radius: 50%;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &:hover .card__image {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

    @media (prefers-reduced-motion: reduce) {
      transform: translateX(-50%);
      box-shadow: none;
    }
  }
}
