.card {
  background-color: var(--color-dark);
  border: 2px solid #3a3f5c;
  border-radius: 8px;
  overflow: hidden;
}

.card__body {
  padding: 16px;
}

.card__image {
  width: 100%;
  height: auto;
}
