.skeleton {
  margin-top: 55px;
  opacity: 0.1;
}

.skeleton__card {
  height: 268px;
  background: linear-gradient(
    105deg,
    var(--color-darker) 25%,
    #606060 50%,
    var(--color-darker) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.skeleton__image {
  width: 70%;
  aspect-ratio: 1;
  background: linear-gradient(
    105deg,
    var(--color-darker) 25%,
    #606060 50%,
    var(--color-darker) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  max-width: 200px;
  position: absolute;
  border: 2px solid #3a3f5c;
  border-radius: 50%;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
