*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-darkest);
  color: var(--color-text-primary);
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}
