.app-title {
  color: var(--color-secondary);
}

.page-title {
  color: var(--color-accent);
  text-align: center;
  margin-bottom: 35px;
}

.controls {
  margin-bottom: 20px;
}

.controls__large-item {
  flex: 1;
}
