:root {
  --font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --color--accent: #44d62c;
  --color-text-primary: #fff;
  --color-background-dark: #0e0e1a;
}
