:root {
  --font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --color-primary: #44d62c;
  --color-secondary: #00b5cc;
  --color-accent: #f0e14a;
  --color-text-primary: #fff;
  --color-text-secondary: #b4b8d4;
  --color-darkest: #0e0e1a;
  --color-darker: #282c34;
  --color-dark: #343b47;
  --color-border: #3a3f5c;
}
