:root {
  --font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --color-primary: #44d62c;
  --color-secondary: #00b5cc;
  --color-accent: #f0e14a;
  --color-text-primary: #fff;
  --color-dark: #0e0e1a;
}
