.main-header {
  background-color: #282c34;
  border-bottom: 2px solid var(--color-primary);
}

.main-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (width >= 430px) {
    min-height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
