.skeleton {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  opacity: 0.1;

  @media (width >= 760px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.skeleton__image {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(
    105deg,
    var(--color-darker) 25%,
    #606060 50%,
    var(--color-darker) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.skeleton__info {
  flex: 1;
  gap: 16px;

  @media (width >= 760px) {
    gap: 29px;
  }
}

.skeleton__item {
  background: linear-gradient(
    105deg,
    var(--color-darker) 25%,
    #606060 50%,
    var(--color-darker) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
