.search {
  position: relative;

  input::-webkit-search-cancel-button,
  input::-webkit-search-decoration {
    appearance: none;
  }
}

.search__button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
