.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;

  @media (width >= 760px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.image {
  text-align: center;

  img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: inline-block;
  }
}

.info {
  flex: 1;
  gap: 16px;

  @media (width >= 760px) {
    gap: 29px;
  }
}
