.navigation {
  display: flex;
  gap: 15px;

  a {
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-darkest);
    }

    &[aria-current="page"] {
      border-bottom: 2px solid var(--color-secondary);
    }
  }
}
