.textbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.textbox__input {
  font: inherit;
  color: var(--color-text-primary);
  border: 2px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-dark);
  padding: 13px 16px;
  width: 100%;
}
