.navigation {
  display: flex;
  gap: 15px;
}

.navigation__link {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-darker);
  }
}

.navigation__link--active {
  border-bottom: 2px solid var(--color-secondary);
}
