.counter {
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.counter__empty-icon {
  font-size: 60px;
}
